.container{
    height: 100vh;
    width: 100%;
}
.container .navbar{
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.container .navbar li{
    margin-left: 2%;
    list-style: none;
}
.container .navbar li .link{
    text-decoration: none;
}